*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	display: grid;
	height: 100%;
	text-align: center;
	place-items: center;
	background: #664AFF;
}
.range{
	height: 80px;
	width: 400px;
	background: #fff;
	border-radius: 10px;
	padding: 0 65px 0 45px;
}
.range .sliderValue{
	position: relative;
	width: 100%;
}
.range .sliderValue span{
	position: absolute;
	/*height: 45px;*/
	/*width: 45px;*/
	color: #fff;
	font-weight: 500;
	top: -40px;
	transform: translateX(-50%) scale(0);
	transition: transform 0.1s ease-in;
	transform-origin: bottom;
	line-height: 55px;
	/*z-index: 2;*/
}
.range .sliderValue span.show{
	transform: translateX(-50%) scale(1);
}
.range .sliderValue span:after{
	position: absolute;
	content: "";
	height: 45px;
	width: 45px;
	background: #664AFF;
	left: 50%;
	font-weight: 500;
	transform: translateX(-50%) rotate(45deg);
	border: 3px solid #fff;
	z-index: -1;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.range .field{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	
}
.range .field .value{
	position: absolute;
	font-size: 18px;
	font-weight: 600;
	color: #664AFF;
}
.range .field .value.left{
	left: -22px;
}
.range .field .value.right{
	right: -43px;
}
.range .field input{
	height: 3px;
	width: 100%;
	background: #ddd;
	border-radius: 5px;
	outline: none;
	border: none;
}
